.Rproj.user
.Rhistory
.RData
notes.md
*.a
inst/web
inst/doc/low_level.*
vignettes/low_level.Rmd
src/Makevars
TODO.md
windows
redux_*.tar.gz
extra/redis-doc
.valgrind_ignore
src/redux.so.dSYM
autobrew
docs/
